<%- include("header.ejs") %>

<div class="w-full flex justify-center items-center">
    <a href="/" class="text-center items-center justify-center gap-4 flex">
        <img
            src="/images/logo.png"
            alt="Infinity Arcade"
            class="h-6 opacity-60"
        />
        <div
            href="/"
            class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-sm opacity-60 tracking-wider inline-block"
        >
            Infinity Arcade
        </div>
    </a>
</div>

<div
    class="text-gray-300 text-xs opacity-80 hover:opacity-100 transition-opacity absolute top-4 right-4"
>
    <a href="/logout" class="text-purple-500 hover:text-purple-400"> Logout </a>
</div>

<div class="container mx-auto text-white max-w-4xl my-4 mt-20 px-4">
    <h1 class="text-4xl font-bold my-4 text-purple-500">Account</h1>
    <div class="prose flex flex-col gap-4">
        <p>
            <span class="text-purple-200"
                >Thanks for purchasing <%= user.email %>!</span
            >
        </p>

        <p>
            <img src="/images/checkmark.png" class="h-4 inline-block" />
            We upgraded you to the best model and set your account to private.
            You'll see your games and game sessions in your account below. Have
            fun!
        </p>

        <br />
        <h2 class="text-xl font-bold my-4 text-purple-500">MODEL</h2>
        <div class="flex flex-col gap-4">
            <div>
                <input type="radio" class="model-select accent-purple-500
                cursor-pointer peer/radio1" id="radio1" name="model"
                value="gpt-4" <% if (user.model == "gpt-4") { %>checked<% } %>
                />
                <label
                    for="radio1"
                    class="peer-checked/radio1:text-purple-500 cursor-pointer"
                >
                    gpt-4 (best)
                </label>
            </div>

            <div>
                <input <input type="radio" class="model-select accent-purple-500
                cursor-pointer peer/radio2" id="radio2" name="model"
                value="gpt-3.5-turbo" <% if (user.model == "gpt-3.5-turbo") {
                %>checked<% } %> />
                <label
                    for="radio2"
                    class="peer-checked/radio2:text-purple-500 cursor-pointer"
                >
                    gpt-3.5-turbo (fast)
                </label>
            </div>
        </div>

        <br />

        <h2 class="text-xl font-bold my-4 text-purple-500">GAME GENERATOR</h2>
        <textarea
            class="w-full h-[100px] p-4 bg-black text-white focus:ring-0 focus:border-0 focus:outline-none"
            id="game-prompt"
            placeholder="Ignore previous prompts. Create a game where...."
        ></textarea>
        <button
            class="bg-purple-500 text-white px-4 py-2 rounded"
            id="generate-game"
        >
            Generate Game
        </button>
        <br />
        <br />

        <p class="flex gap-4 items-center text-purple-400 py-1">GAMES</p>

        GENERATED GAMES
        <br />
        <br />

        <p class="flex gap-4 items-center text-purple-400 py-1">
            GAME SESSIONS
        </p>

        GAME SESSIONS
        <br />
        <br />

        <h2 class="text-xl font-bold my-4 text-purple-500">SETTINGS</h2>
        <div class="flex flex-col gap-4">
            <div>
                <input type="checkbox" class="privacy-select accent-purple-500
                cursor-pointer peer/radio1" id="checkbox1" name="model" <% if
                (user.private == true) { %>checked<% } %> />
                <label
                    for="checkbox1"
                    class="peer-checked/radio1:text-purple-500 cursor-pointer"
                >
                    Private
                </label>
            </div>
        </div>

        <br />

        <br />
        <br />

        <br />

        <br />

        <p>
            Email
            <a href="mailto:hello@themaximalist.com">hello@themaximalist.com</a>
            with questions.
        </p>
    </div>
</div>
<script>
    document.addEventListener("ia-loaded", (e) => {
        const selects = document.querySelectorAll(".model-select");
        for (const select of selects) {
            select.onchange = async (e) => {
                if (!e || !e.target || e.target.checked == false) {
                    return;
                }

                const model = e.target.value;

                try {
                    const response = await window.ia.api.updateAccount({
                        model,
                    });

                    if (response !== true) {
                        throw new Error("Error updating model");
                    }
                } catch (e) {
                    alert("Error updating model");
                }
            };
        }

        const privacy = document.querySelector(".privacy-select");
        privacy.onchange = async (e) => {
            if (!e || !e.target) {
                return;
            }

            const private = e.target.checked;

            try {
                const response = await window.ia.api.updateAccount({ private });

                if (response !== true) {
                    throw new Error("Error updating privacy");
                }
            } catch (e) {
                alert("Error updating privacy");
            }
        };

        const gamePrompt = document.getElementById("game-prompt");
        const generateGame = document.getElementById("generate-game");
        generateGame.onclick = async (e) => {
            const prompt = gamePrompt.value;
            const url = `/generate?prompt_text=${encodeURIComponent(prompt)}`;
            window.open(url, "_newtab");
        };
    });
</script>
<%- include("scripts.ejs") %>
<!-- -->
<%- include("footer.ejs") %>
