<%- include("header.ejs") %>

<div
    class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0"
>
    <a href="/" class="flex items-center gap-2">
        <img
            src="/images/logo.png"
            alt="Infinity Arcade"
            class="w-6 lg:w-8 opacity-60"
        />
        <div
            href="/"
            class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block"
        >
            Infinity Arcade
        </div>
    </a>
</div>

<div
    class="container mx-auto text-white max-w-4xl my-4 mt-20 px-4 flex flex-col gap-8"
>
    <div>
        <h1 class="text-4xl font-bold my-4 text-yellow-500">Articles</h1>
    </div>
    <div class="prose py-2 flex flex-col gap-6">
        <ul class="ml-4 md:ml-8 text-white">
            <li
                class="flex gap-4 items-center hover:text-yellow-400 transition-colors py-1 cursor-pointer"
            >
                <div class="w-2 h-2 bg-white"></div>
                <a href="/article/how-to-create-your-own-text-adventure-game"
                    >How to create your own text adventure game</a
                >
            </li>
        </ul>
    </div>
</div>
<%- include("scripts.ejs") %>
<!-- -->
<%- include("footer.ejs") %>
