    <div class="flex flex-col lg:flex-row justify-center items-center gap-8 lg:gap-16 my-4 mt-20">
        <a
            href="/articles"
            class="text-white hover:text-yellow-400 transition-colors"
            >Articles</a
        >
        <a
            href="/news"
            class="text-white hover:text-purple-500 transition-colors"
            >News</a
        >
        <a
            href="https://themaximalist.com"
            class="opacity-50 hover:opacity-100 transition-opacity hidden lg:block"
        >
            <img
                src="/images/themaximalist.png"
                id="themaximalist"
                class="mx-auto w-12 h-12"
                alt="The Maximalist"
            />
        </a>
        <a
            href="/about"
            class="text-white hover:text-blue-500 transition-colors"
            >About</a
        >
        <a
            href="/faq"
            class="text-white hover:text-blue-500 transition-colors"
            >FAQ</a
        >
        <a
            href="https://themaximalist.com"
            class="opacity-50 hover:opacity-100 transition-opacity lg:hidden"
        >
            <img
                src="/images/themaximalist.png"
                id="themaximalist"
                class="mx-auto w-12 h-12"
                alt="The Maximalist"
            />
        </a>
    </div>
    </body>
</html>