    <div class="flex justify-center items-center gap-16 mt-20">
        <a
            href="/generate"
            class="text-white opacity-50 hover:opacity-100 transition-opacity"
            >Game</a
        >
        <a
            href="/news"
            class="text-white opacity-50 hover:opacity-100 transition-opacity"
            >News</a
        >
        <a
            href="https://themaximalist.com"
            class="opacity-50 hover:opacity-100 transition-opacity"
        >
            <img
                src="/images/themaximalist.png"
                id="themaximalist"
                class="mx-auto w-12 h-12 my-12"
                alt="The Maximalist"
            />
        </a>
        <a
            href="/about"
            class="text-white opacity-50 hover:opacity-100 transition-opacity"
            >About</a
        >
        <a
            href="/faq"
            class="text-white opacity-50 hover:opacity-100 transition-opacity"
            >FAQ</a
        >
    </div>
    </body>
</html>