<div
    class="flex flex-col justify-center items-center w-full mx-auto"
    id="loading"
>
    <div
        class="absolute inset-0 text-white text-center align-middle top-1/2 -mt-24 md:text-2xl opacity-80 tracking-wider gradient-text"
    >
        Infinity Arcade
    </div>
    <div
        class="grid grid-cols-7 grid-rows-1 gap-1 mx-auto h-screen items-center opacity-25 w-[100px]"
    >
        <div
            class="bg-rose-500 animate-ping animate-ping-delayed custom-delay-200 rounded-full w-6 h-6"
        ></div>
        <div
            class="bg-pink-400 animate-ping animate-ping-delayed custom-delay-300 rounded-full w-6 h-6"
        ></div>
        <div
            class="bg-yellow-400 animate-ping animate-ping-delayed custom-delay-400 rounded-full w-6 h-6"
        ></div>
        <div
            class="bg-green-500 animate-ping animate-ping-delayed custom-delay-500 rounded-full w-6 h-6"
        ></div>
        <div
            class="bg-blue-500 animate-ping animate-ping-delayed custom-delay-600 rounded-full w-6 h-6"
        ></div>
        <div
            class="bg-purple-500 animate-ping animate-ping-delayed custom-delay-700 rounded-full w-6 h-6"
        ></div>
    </div>
</div>
