<%- include("header.ejs") %>

<div
    class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0"
>
    <a href="/" class="flex items-center gap-2">
        <img
            src="/images/logo.png"
            alt="Infinity Arcade"
            class="w-6 lg:w-8 opacity-60"
        />
        <div
            href="/"
            class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block"
        >
            Infinity Arcade
        </div>
    </a>
    <div class="flex justify-center md:absolute md:right-4">
        <a
            href="/pro"
            class="text-purple-500 hover:text-purple-400 text-xs lg:text-sm"
        >
            Signup</a
        >
    </div>
</div>

<div class="container mx-auto text-white max-w-4xl my-4 mt-20 px-4">
    <h1 class="text-4xl font-bold my-4 text-purple-500">Login</h1>
    <% if (typeof error == "string") { %>
    <p class="text-red-500"><%- error %></p>
    <% } %>
    <br />
    <form
        action="/login"
        method="post"
        class="w-full lg:max-w-lg flex flex-col gap-6"
    >
        <div>
            <label for="email" class="pb-2 pl-2 block">Email</label>
            <input
                type="email"
                name="email"
                placeholder="email@address.com"
                class="w-full bg-gray-900 text-white py-4 px-3 focus:border-none focus:ring-0 focus:outline-none rounded-xl"
                required
            />
        </div>
        <div>
            <label for="password" class="pb-2 pl-2 block">Password</label>
            <input
                type="password"
                name="password"
                placeholder="password"
                class="w-full bg-gray-900 text-white py-4 px-3 focus:border-none focus:ring-0 focus:outline-none rounded-xl"
                required
            />
        </div>
        <input
            type="submit"
            class="bg-purple-500 hover:bg-purple-600 transition-colors text-white px-6 py-4 rounded-lg mt-4 w-full md:w-auto cursor-pointer focus:ring-0 focus:outline-none"
            value="Login"
        />
    </form>
</div>
<%- include("footer.ejs") %>
