<form action="/login" method="post">
    <label for="email">Email:</label>
    <input type="email" name="email" required />
    <br />
    <label for="password">Password:</label>
    <input type="password" name="password" required />
    <br />
    <input type="submit" value="Signup" />
</form>
