<%- include("./header.ejs") %>

<div class="w-full text-center flex items-center justify-between lg:justify-center gap-4 px-2 lg:px-0">
    <a href="/" class="flex items-center gap-2">
        <img src="/images/logo.png" alt="Infinity Arcade" class="w-6 lg:w-8 opacity-60" />
        <div href="/" class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-xs lg:text-sm opacity-60 tracking-wider inline-block">
            Infinity Arcade
        </div>
    </a>
</div>

<div class="container mx-auto text-white max-w-4xl my-4 mt-8 lg:mt-20 px-4 flex flex-col gap-8">
    <div>
        <h1 class="text-2xl lg:text-4xl font-bold my-4 text-yellow-500">
            Privacy Policy
        </h1>
        <span class="text-yellow-200"><%- description %></span>
    </div>
    <div class="prose py-2 flex flex-col gap-6 leading-relaxed">
        <p>Effective Date: June 1, 2023</p>

        <p>This Privacy Policy describes how Infinity Arcade, a mobile application owned and operated by The Maximalist (hereinafter referred to as "we", "our" or "us"), collects, uses, and protects user data.</p>

        <p>INFORMATION WE COLLECT</p>

        <p>The only information we collect from users of Infinity Arcade is anonymous tracking data. This data is used solely for improving the functionality and user experience of our products. We do not collect personally identifiable information (PII).</p>

        <p>We may use various technologies to collect and store this data, which could include sending cookies or anonymous identifiers to your device.</p>

        <p>USE OF INFORMATION</p>

        <p>We use the anonymous tracking data collected to enhance the services provided by Infinity Arcade. The usage data helps us understand how our application is used, identify bugs, and make improvements to ensure a better user experience. It is not used to identify individual users.</p>

        <p>INFORMATION SHARING</p>

        <p>We do not share, sell, rent, or trade User Personal Information with third parties for their commercial purposes.</p>

        <p>DATA SECURITY</p>

        <p>We use reasonable measures to protect User Information from unauthorized access, destruction, use, modification, or disclosure.</p>

        <p>CHANGES TO THIS POLICY</p>

        <p>We may change this Privacy Policy from time to time. If we make changes, we will notify you by revising the date at the top of this policy, and in some cases, we may provide you with additional notice.</p>

        <p>By using Infinity Arcade, you consent to our Privacy Policy.</p>

        <p>If you have any questions about this Privacy Policy, please contact us at hello@themaximalist.com.</p>

        <p>This Privacy Policy was last updated on June 1, 2023.</p>
    </div>
</div>
<%- include("./scripts.ejs") %>
<!-- -->
<%- include("./footer.ejs") %>