<%- include("../header.ejs") %>

<div class="w-full flex justify-start items-center p-2 gap-12 text-xs max-w-6xl mx-auto">
    <a href="/" class="text-center items-center justify-center gap-4 flex">
        <img
            src="/images/logo.png"
            alt="Infinity Arcade"
            class="h-6 opacity-60"
        />
        <div
            href="/"
            class="bg-gradient-to-br from-white to-gray-400 text-transparent bg-clip-text text-center py-4 text-sm opacity-60 tracking-wider inline-block"
        >
        Infinity Arcade
        </div>
    </a>
    <a class="text-gray-400 hover:text-purple-300" href="/admin">Dashboard</a>
    <a href="/admin/articles" class="text-gray-400 hover:text-purple-300">Articles</a>
</div>

<div class="container max-w-6xl mx-auto">
    <div class="text-white max-w-6xl flex flex-col gap-16 py-10">
        <div class="prose flex flex-col gap-4">
